<!-- instructor -->
<div id="comments" class="dlab-instructor">
    <ol class="commentlist">
        <li class="comment">
            <div class="comment_container"> <img class="avatar avatar-60 photo" src="images/testimonials/pic1.jpg" alt="">
                <div class="comment-text">
                    <h3 class="author m-t0">Niraj Pal</h3> 
                    <div class="w3-separator bg-primary"></div>
                    <div class="description m-b15">
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley..</p>
                    </div>
                    <ul class="dlab-social-icon">
                        <li><a href="javascript:void(0);" class="site-button circle fa fa-facebook facebook"></a></li>
                        <li><a href="javascript:void(0);" class="site-button circle fa fa-twitter twitter"></a></li>
                        <li><a href="javascript:void(0);" class="site-button circle fa fa-linkedin linkedin"></a></li>
                        <li><a href="javascript:void(0);" class="site-button circle fa fa-whatsapp whatsapp"></a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ol>
</div>

<!-- after rating -->

<div id="comments">
    <ol class="commentlist">
        <li class="comment">
            <div class="comment_container"> 
                <img class="avatar avatar-60 photo" src="images/testimonials/pic1.jpg" alt="">
                <div class="comment-text">
                    <div class="star-rating">
                        <div data-rating="3"> 
                            <i class="fa fa-star text-yellow" data-alt="1" title="regular"></i> 
                            <i class="fa fa-star text-yellow" data-alt="2" title="regular"></i> 
                            <i class="fa fa-star-o text-yellow" data-alt="3" title="regular"></i> 
                            <i class="fa fa-star-o text-yellow" data-alt="4" title="regular"></i> 
                            <i class="fa fa-star-o text-yellow" data-alt="5" title="regular"></i> 
                        </div>
                    </div>
                    <p class="meta"> 
                        <strong class="author">Cobus Bester</strong> 
                        <span><i class="fa fa-clock-o"></i> March 7, 2013</span> 
                    </p>
                    <div class="description">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="comment">
            <div class="comment_container"> 
                <img class="avatar avatar-60 photo" src="images/testimonials/pic2.jpg" alt="">
                <div class="comment-text">
                    <div class="star-rating">
                        <div data-rating="3"> 
                            <i class="fa fa-star text-yellow" data-alt="1" title="regular"></i> 
                            <i class="fa fa-star text-yellow" data-alt="2" title="regular"></i> 
                            <i class="fa fa-star text-yellow" data-alt="3" title="regular"></i> 
                            <i class="fa fa-star-o text-yellow" data-alt="4" title="regular"></i> 
                            <i class="fa fa-star-o text-yellow" data-alt="5" title="regular"></i> 
                        </div>
                    </div>
                    <p class="meta"> 
                        <strong class="author">Cobus Bester</strong> 
                        <span><i class="fa fa-clock-o"></i> March 7, 2013</span> 
                    </p>
                    <div class="description">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="comment">
            <div class="comment_container"> 
                <img class="avatar avatar-60 photo" src="images/testimonials/pic3.jpg" alt="">
                <div class="comment-text">
                    <div class="star-rating">
                        <div data-rating="3"> 
                            <i class="fa fa-star text-yellow" data-alt="1" title="regular"></i> 
                            <i class="fa fa-star text-yellow" data-alt="2" title="regular"></i> 
                            <i class="fa fa-star text-yellow" data-alt="3" title="regular"></i> 
                            <i class="fa fa-star text-yellow" data-alt="4" title="regular"></i> 
                            <i class="fa fa-star-o text-yellow" data-alt="5" title="regular"></i> 
                        </div>
                    </div>
                    <p class="meta"> 
                        <strong class="author">Cobus Bester</strong> 
                        <span><i class="fa fa-clock-o"></i> March 7, 2013</span> 
                    </p>
                    <div class="description">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </li>
    </ol>
</div>
<div class="comment-respond" id="respond">
    <div class="section-head">
        <h5 class="widget-title style-1">LEAVE A REPLY</h5>
    </div>
    <h3 class="comment-reply-title" id="reply-title">
        <small> <a style="display:none;" href="javascript:void(0);" id="cancel-comment-reply-link" rel="nofollow">Cancel reply</a> </small>
    </h3>
    <form class="comment-form" id="commentform" method="post">
        <p class="comment-form-author">
            <label for="author">Name <span class="required">*</span></label>
            <input type="text" value="" placeholder="Name" id="author">
        </p>
        <p class="comment-form-email">
            <label for="email">Email <span class="required">*</span></label>
            <input type="text" value="" placeholder="Email" id="email">
        </p>
        <p class="comment-form-rating">
            <label for="rating">Rating <span class="required">*</span></label>
            <select name="rating" id="rating">
                <option value="5">*****</option>
                <option value="4">****</option>
                <option value="3">***</option>
                <option value="2">**</option>
                <option value="1">*</option>
            </select>
        </p>
        <p class="comment-form-comment">
            <label for="comment">Comment</label>
            <textarea rows="8" placeholder="Add a Comment" id="comment"></textarea>
        </p>
        <p class="form-submit">
            <input type="submit" value="Post Comment" class="site-button" id="submit">
        </p>
    </form>
</div>